*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Signika', sans-serif;
    
}
body{
    background: -webkit-radial-gradient(top left, 400% 150%, rgb(58, 93, 175) 0%, rgba(4,29,88,1) 18%, rgba(4,29,88,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
}

.login-button{
    margin-top: 2vh;
    margin-right: 2vh;
    text-align: center;
    float: right;
    text-decoration: none;
    width: 15vw;
    height: 15vw;
}
.login-button>i{    
    margin-top: 3.75vw;
}
h1{
    width: 70%;
    padding-top: 15vh;
    padding-left: 12.5vw;
}
.container{
    background-color: #2754bd;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    font-size: 20px;
    justify-content: center;    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.test{
    width: 75vw;
    height: 10vh;
    margin-left: 12.5vw;
    margin-top: 5vh;
}
.test>p{
    text-align: center;
    align-items: center;
}
.stats{
    text-align: center;
    margin-top: 5vh;
    
}
.top{
    width: 75vw;
    height: 10vh;
    margin-left: 12.5vw;
    margin-top: 5vh;
}
.right{
    display: flex;
    flex-direction: column;
}
.bottom-part{
    display: flex;
    flex-direction: row;
}
.container-bot{
    width: 36.5vw;
}
.right>div{
    height: 8.5vh;
    margin-left: 12.5vw;
}
.r1{
    margin-top: 5vh;
}
.r2{
    margin-top: 3vh;
}
.left{
    height: 20vh;
    margin-left: 2vw;
    margin-top: 5vh;

}

.navbar{
    margin-top: 7vh;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
}

.navbar>a{
    width: 25vw;
    height: 10vh;
    font-size: 2em;
    text-align: center;
}
