*{
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
}

body{
    background-color: #e2e2e2;
    min-height: 100%;
}

.back{
    margin-top: 2vh;
    margin-left: 2vh;
}
.main{
    padding-top: 10vh;
    text-align: center;
    color: #000;
}
.profil{
    width: 100px;
}
label{
    display: none;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
::placeholder{
    color: #fff;
    opacity: 1;
}
::ms-input-placeholder{
    color: #fff;
}
input{
    font-size: 1em !important;
    width: 75vw;
    height: 5vh;
    background-color: #2754bd;
    border: none;
    border-radius: 25px;
    margin-top: 7vh;
    text-align: center;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;    font-size: 20px;

}
input:focus{
    border: 1px solid #fff;
    outline:none;
}
.submit{
    width: 30vw;
}
.form-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75vw;
}
.form-top>input{
    width: 35vw;
    
}
.to-register{
    margin-top: 5vh;
    text-align: center;
    font-size: 0.85em;
}

.navbar{
    margin-top: 7vh;
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    bottom: 0;
    left: 0;
}

.navbar>a{
    width: 25vw;
    height: 10vh;
    text-align: center;
}
.navbar>a>img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%) contrast(105%);
}