@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Marck+Script&display=swap');*{
    padding: 0;
    margin: 0;
    text-decoration: none;

}
body{
    background-color: #232c33;
}
.title{
    margin-top: 2.5vh;
    text-align: center;
    color: #F4F5F5;
    font-family: 'Alex Brush', cursive;
    font-weight: normal;
    font-size: xx-large;
}
.menu-link{
    width: 50vw;
    height: 50vh;

    margin-left: 25vw;
    margin-top: 12.5vh;

    display: flex;
    flex-direction: column;

}
.link{

    width: 12.5vw;
    height: 12.5vh;

    margin-top: 5vh;
    margin-left: 19vw;

    font-family: 'Oswald', sans-serif;
    font-size: x-large;
    text-align: center;

    color:#F4F5F5;

}

.link:hover{
    text-decoration: underline #F4F5F5 ;
}



#whoami,#projects,#skills,#contact{
    display: none;
    width: 90vw;
    height: 75vh;


    margin-left: 5vw;
    margin-top: 5vh;

    border-radius: 5px;
}

.top-bar{
    width: 100%;
    height: 5%;

    background-color: lightgray;

    display: flex;


    border-radius: 5px 5px 0 0;
}

.close{
    width: 1vw;
    height: 1vw;

    margin-left: .5vw;
    margin-top: .5vw;

    border-radius: .5vw;

    background-color: #AA2622;
}

.close:hover{
    background-color: #881F1B;
}

.minimize{
    width: 1vw;
    height: 1vw;

    margin-left: .5vw;
    margin-top: .5vw;

    border-radius: .5vw;

    background-color: #E28413;
}
.minimize:hover{
    background-color: #BC6F10;
}
.maximize{
    width: 1vw;
    height: 1vw;

    margin-left: .5vw;
    margin-top: .5vw;

    border-radius: .5vw;

    background-color: #138A36;
}
.maximize:hover{
    background-color: #0F6C2B;
}

.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;

    background-color: rgba(255,255,255,0.1);
    color: black;

    border-radius: 0 0 5px 5px;

    font-family: 'Kdam Thmor Pro', sans-serif;
}
#cursor{
    width: .75%;
    height: 75%;

    margin-top: -1.75%;
    margin-left: 22.5%;

    background-color: #41DC0E;

    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

#command,#command2,#command3,#command4{
    margin-left: .5%;

    width: 99.5%;
    height: 5%;
    background: #394248;

    color: #41DC0E;
}

#name,#lastname,#age,#student,#bio{
    margin-left: .5%;
    width: 95%;
    height: 5%;
    background: #394248;
    margin-top: 1vh;
    color: #F4F5F5;

}
.pane{
    display: flex;
    flex-wrap: wrap;
    height: 95%;
    width: 100%;
}
.project-card{
    margin: 2.5%;
    width: 28.3%;
    height: 37%;
    flex-direction: row;
}
.logo{
    width: 50%;
    margin-left:25%;

    display: flex;
    flex-direction: column;

}
.logo>a{
    height: 100%;
    width: 100%;
    margin-left: 30%;
    margin-top: 5%;
    color: #F4F5F5;
}
.logo>a>p{
    margin-left: 5%;
    margin-top: 2.5%;
}
#l1,#l2,#l3,#l4{
    display: none;
}

#minimized-whoami{
    width: 15vw;
    height: 5vh;
    background-color: rosybrown;
    bottom: 1%;
    position: absolute;
    display: none;

}
.fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 10%;
    position: absolute;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Oswald', sans-serif;

}
#minimized-projects{
    width: 15vw;
    height: 5vh;
    background-color: blueviolet;
    bottom: 1%;
    position: absolute;
    margin-left: 20vw;
    display: none;
}
#minimized-skills{
    width: 15vw;
    height: 5vh;
    background-color: red;
    bottom: 1%;
    position: absolute;
    margin-left: 40vw;
    display: none;
}
#minimized-contact{
    width: 15vw;
    height: 5vh;
    background-color: greenyellow;
    bottom: 1%;
    position: absolute;
    margin-left: 60vw;
    display: none;
}
.minimized-windows{
    margin-left: 12.5vw;

}